@use "reset";

body {
    background-color: #404040;
    overscroll-behavior: none;
}

main {
    padding: 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

main>h1 {
    align-items: center;
    text-align: center;
    justify-content: center;
}

section {
    color: white;
    background-color: #202020;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    font-size: larger;
}

.container {
    margin: 1rem;
}

picture {
    margin: auto 0;
}

section:nth-child(2) {
    justify-content: center;
    align-items: baseline;
    text-align: start;
}

.coatOfArms {
    >picture {
        margin: auto 0;

        >img {
            padding: 2rem 0;
            width: 15rem;
        }
    }
}

.show {
    display: flex;
}

.menu-button {
    padding: 1rem;
    border: none;
    background-color: transparent;
    color: white;
}

nav {
    background-color: #252525;
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
}

nav>ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    padding: 0;
}

nav>ul>li>a {
    display: inline-block;
    padding: 1rem 1.5rem;
    color: white;
    text-decoration: none;
}

nav>ul>li>a:hover {
    background-color: #404040;
}

@media (min-width: 769px) {
    nav>ul>li:nth-child(1) {
        margin-right: auto;
        background-color: crimson;
    }

    section:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    section:nth-child(2) {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    section:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .menu-button {
        display: none;
    }
}

@media (max-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        width: 95%;
        grid-template-rows: repeat(4, 1fr);
        gap: 1rem;
    }

    section {
        grid-column-start: auto;
        grid-column-end: auto;
    }

    section:nth-child(1) {
        grid-row: span 1;
    }

    section:nth-child(2) {
        grid-row: span 2;
    }

    section:nth-child(3) {
        grid-row: span 1;
    }

    .menu-button {
        margin-left: auto;
        display: block;
    }
    nav {
        flex-direction: column;
    }

    nav>ul {
        display: none;
        flex-direction: column;
    }

    nav>ul>li {
        justify-content: right;
        margin: 0;
    }

    nav>ul>li>a {
        width: 100%;
    }
}