---
layout: base.njk
title: Italian Neighbours
---

<main>
    <section>
        <h1>Flag</h1>
        {% image austria[0].flags.png, "Austrian flag" %}
    </section>
    <section>
        <div class="container">
            <p>Native Name:</p>
            <h2>{{ austria[0].name.nativeName.bar.official }}</h2>
            <h2>{{ austria[0].name.nativeName.bar.common }}</h2>
        </div>
        <div class="container">
            <p>English Name:</p>
            <h2>{{ austria[0].name.official }}</h2>
            <h2>{{ austria[0].name.common }}</h2>
        </div>
        <div class="container">
            <p>Capital Name:</p>
            <h2>{{ austria[0].capital }}</h2>
        </div>
        <div class="container">
            <p>Languages:</p>
            <h2>{{ austria[0].languages.bar }}</h2>
        </div>
        <div class="container">
            <p>Region:</p>
            <h2>{{ austria[0].region }}</h2>
        </div>
        <div class="container">
            <p>Sub Region:</p>
            <h2>{{ austria[0].subregion }}</h2>
        </div>
        <div class="container">
            <p>Currency:</p>
            <h2>{{ austria[0].currencies.EUR.name }}</h2>
        </div>
    </section>
    <section>
        <h1>Coat of Arms</h1>
        <div class="coatOfArms">
            {% image austria[0].coatOfArms.png, "Austrian Coat of Arms", "50vw" %}
        </div>
    </section>
</main>