---
layout: base.njk
title: Italian Neighbours
---

<main>
    <section>
        <h1>Flag</h1>
        {% image switzerland[0].flags.png, "Swiss flag" %}
    </section>
    <section>
        <div class="container">
            <p>Native Name:</p>
            <h2>{{ switzerland[0].name.nativeName.ita.official }}</h2>
            <h2>{{ switzerland[0].name.nativeName.ita.common }}</h2>
        </div>
        <div class="container">
            <p>English Name:</p>
            <h2>{{ switzerland[0].name.official }}</h2>
            <h2>{{ switzerland[0].name.common }}</h2>
        </div>
        <div class="container">
            <p>Capital Name:</p>
            <h2>{{ switzerland[0].capital }}</h2>
        </div>
        <div class="container">
            <p>Languages:</p>
            <h2>{{ switzerland[0].languages.ita }}</h2>
        </div>
        <div class="container">
            <p>Region:</p>
            <h2>{{ switzerland[0].region }}</h2>
        </div>
        <div class="container">
            <p>Sub Region:</p>
            <h2>{{ switzerland[0].subregion }}</h2>
        </div>
        <div class="container">
            <p>Currency:</p>
            <h2>{{ switzerland[0].currencies.CHF.name }}</h2>
        </div>
    </section>
    <section>
        <h1>Coat of Arms</h1>
        <div class="coatOfArms">
            {% image switzerland[0].coatOfArms.png, "Swiss Coat of Arms", "50vw" %}
        </div>
    </section>
</main>